/*ลบพื้นหลัง Sub Topbar*/
.sub-top-bar, .sub-top-bar ul {
  background: white;
}

/*เพิ่ม Gap ของ button ใน Sub Topbar*/
.sub-top-bar .button{
	margin-left: 5px;
	margin-right: 5px;
}

.ver-divider{
	border-right:1px solid #888888;
}

.fullWidth {
   width: 100%;
   max-width: 100%; 
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

/*Panel*/
.navigation_head{
  color:white;
}

.fullHeight-col {
  min-height:100vh;
  padding:0;
  background: #363636;
}

.fullHeight-col>ul>li>a{
  margin-left:5%;
  margin-right:5%;
  border-top:1px solid #4A4A4A;
}

.fullHeight-col li:hover{
  background: #1F1F1F;
}

.fullHeight-col a:active{
  color: #F2F0A1;
}

/*Login*/
#login {
  background-color: #383839;
}

#panel {
  margin: 10% 25% 25% 25%;
}

#copyright{
  color: white;
}

#panel article {
  background-color: white;
  padding: 5% 10% 5% 10%;
  border:1px solid #888888;
}

.text-alert{
  color: red;
}