/*ลบพื้นหลัง Sub Topbar*/
.sub-top-bar, .sub-top-bar ul {
  background: white;
}

/*เพิ่ม Gap ของ button ใน Sub Topbar*/
.sub-top-bar .button{
	margin-left: 5px;
	margin-right: 5px;
}

.ver-divider{
	border-right:1px solid #888888;
}

.fullWidth {
   width: 100%;
   max-width: 100%; 
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

/*Panel*/
.navigation_head{
  color:white;
}

.fullHeight-col {
  min-height:100vh;
  padding:0;
  background: #363636;
}

.fullHeight-col>ul>li>a{
  margin-left:5%;
  margin-right:5%;
  border-top:1px solid #4A4A4A;
}

.fullHeight-col li:hover{
  background: #1F1F1F;
}

.fullHeight-col a:active{
  color: #F2F0A1;
}

/*Login*/
#login {
  background-color: #383839;
}

#panel {
  margin: 10% 25% 25% 25%;
}

#copyright{
  color: white;
}

#panel article {
  background-color: white;
  padding: 5% 10% 5% 10%;
  border:1px solid #888888;
}

.text-alert{
  color: red;
}

/*Validate Feature*/
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

/* ตีเส้นแบ่งตาราง stock */
.stockFlow>tbody>tr>td:nth-child(2),.stockFlow>tbody>tr>td:nth-child(5),.stockFlow>tbody>tr>td:nth-child(10){
  border-right: 3px solid #23cee8;
}

.stockFlow>thead>tr:first-child>th:nth-child(2),.stockFlow>thead>tr:nth-child(2)>th:nth-child(3),.stockFlow>thead>tr:nth-child(2)>th:nth-child(8){
  border-right: 3px solid #23cee8;
}
/* 
.stockFlow>thead>tr:first-child>th:nth-child(2),.stockFlow>thead>tr:first-child>th:nth-child(3){
  border-right: 3px solid #23cee8;
} */